################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GHEAPI.DoublyLinked/v16
/.vs/GHEAPI.DoublyLinked/DesignTimeBuild
